---
permalink: "/robots.txt"
eleventyExcludeFromCollections: true
---

User-agent: *
Disallow: /assets/images/before/
Disallow: /koszonom/

Allow: /assets/images/
Allow: /assets/images/gallery/

Sitemap: https://headshotfotozas.hu/sitemap.xml
