<dialog id="adatkezeles" class="modal">
	<div class="modal__content">
		<h2 class="modal__title">Adatkezelés</h2>

		<h3>1. Az adatkezelő adatai</h3>
		<ul class="list">
			<li><strong>Név:</strong> Szabó Roland egyéni vállalkozó</li>
			<li><strong>Cím:</strong> 1223 Budapest, Rózsakert utca 19/c</li>
			<li><strong>Email:</strong> <a href="mailto:hi@rolandszabo.photo" target="_blank" rel="noopener noreferrer">hi@rolandszabo.photo</a></li>
			<li><strong>Telefon:</strong> <a href="tel:+36205914620">+36 20 591 4620</a></li>
		</ul>

		<hr>
		<h3>2. Milyen adatokat kezelek?</h3>
		<p>A weboldalon található kapcsolatfelvételi űrlap kitöltésekor az alábbi adatokat kérem el:</p>
		<ul class="list">
			<li>név</li>
			<li>telefonszám</li>
		</ul>

		<hr>
		<h3>3. Az adatkezelés célja</h3>
		<p>Az adatok kezelésének célja kizárólag a kapcsolatfelvétel, időpont-egyeztetés és a szolgáltatásaimmal kapcsolatos kommunikáció.</p>

		<hr>
		<h3>4. Az adatkezelés jogalapja</h3>
		<p>Az adatkezelés jogalapja a GDPR 6. cikk (1) bekezdés b) pontja: az adatkezelés a szerződés teljesítéséhez, illetve a szerződés megkötését megelőző lépésekhez szükséges. <br><em class="text-red">(Magyarul: azért kezelem az adatokat, hogy meg tudjuk beszélni a fotózást.)</em></p>

		<hr>
		<h3>5. Az adatok tárolásának módja és időtartama</h3>
		<p>A megadott adatokat a Netlify Forms szolgáltatás közvetítésével kapom meg, és azok a Gmail levelezőrendszeremben kerülnek tárolásra. Az adatokat a kapcsolatfelvétel céljának megszűnéséig őrzöm (pl. amíg a fotózás meg nem történik, vagy amíg kéred a törlésüket).</p>

		<hr>
		<h3>6. Ki fér hozzá az adatokhoz?</h3>
		<p>Az adatokhoz kizárólag én, Szabó Roland férek hozzá. Harmadik félnek nem adom tovább. Az oldalon az Ahrefs Analytics működik, amely nem kapcsolódik a kapcsolatfelvételi űrlaphoz, és nem gyűjt személyes adatokat.</p>

		<hr>
		<h3>7. Az érintettek jogai</h3>
		<p>A GDPR alapján bármikor jogosult vagy:</p>
		<ul class="list">
			<li>tájékoztatást kérni arról, hogy milyen adataidat kezelem,</li>
			<li>kérni azok helyesbítését vagy törlését,</li>
			<li>kérni az adatkezelés korlátozását,</li>
			<li>tiltakozni az adatkezelés ellen.</li>
		</ul>
		<p>Kérésedet a fenti elérhetőségeim bármelyikén jelezheted, és indokolatlan késedelem nélkül teljesítem.</p>

		<hr>
		<h3>8. Panasz benyújtása</h3>
		<p>Amennyiben úgy érzed, hogy megsértettem a személyes adataid védelméhez való jogodat, panasszal élhetsz a Nemzeti Adatvédelmi és Információszabadság Hatóságnál (NAIH):</p>
		<ul class="list">
			<li><strong>Székhely:</strong> 1055 Budapest, Falk Miksa utca 9–11.</li>
			<li><strong>Telefon:</strong> +36 1 391 1400</li>
			<li><strong>Email:</strong> ugyfelszolgalat@naih.hu</li>
			<li><strong>Weboldal:</strong> www.naih.hu</li>
		</ul>
	</div>
	<button class="modal__close js-prevent-default" onclick="closeModal()" title="Bezárás" aria-label="Bezárás"><i class="fas fa-xmark"></i></button>
</dialog>
